Llenguatge de Marques/Tema 3 - Validacio XSD/Exercici no entregable - Part 1/exemple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ingredient" type="ingredientType"/>
  <xs:complexType name="ingredientType">
    <xs:sequence>
      <xs:element type="xs:string" name="codi"/>
      <xs:element type="xs:string" name="nom"/>
      <xs:element type="xs:string" name="calories"/>
      <xs:element type="xs:string" name="importancia"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>